name: Tests
permissions:
  contents: read

on:
  push:
    branches: [ develop, master ]
  pull_request:

jobs:
  php-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: [8.2, 8.3]
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup PHP
        uses: shivammathur/setup-php@6d7209f44a25baf1c6d5f9d9995cd6fcd0a3d8a8 # v2
        with:
          php-version: ${{ matrix.php }}
          extensions: mbstring, intl
          coverage: none

      - name: Cache composer dependencies
        uses: actions/cache@13aacd865c20de90d75de3b17ebe84f7a17d57d2 # v4
        with:
          path: vendor
          key: composer-${{ runner.os }}-${{ matrix.php }}-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            composer-${{ runner.os }}-${{ matrix.php }}-

      - name: Install dependencies
        run: composer install --no-interaction --no-progress --prefer-dist

      - name: Run tests
        run: vendor/bin/pest --colors=always


